@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
#geocoder {
  width: 100%;
}
input {
  width: calc(100% - 2em);
  padding: 1em;
  border: 0.1em solid #e6e6e6;
}
