@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../node_modules/bootstrap/scss/variables';

@include media-breakpoint-down(lg) {
  tr.table-stacked {
    display: block;
    border-top-width: 0;
    width: 100%;

    &:not(.cell-header-block) {
      border-bottom: 2px solid var(--bs-border-color);
    }

    &.first:not(.cell-header-block) {
      border-top: 2px solid var(--bs-border-color);
    }

    &.odd.cell-header-block {
      border-left: 2px solid var(--bs-border-color);
    }
  }
}
