@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../node_modules/bootstrap/scss/variables';

@include media-breakpoint-down(lg) {
  tr.table-stacked {
    display: block;
    border-bottom: 2px solid var(--bs-border-color);
    border-top-width: 0;
    width: 100%;

    &.first {
      border-top: 2px solid var(--bs-border-color);
    }

    &.odd {
      border-left: 1px solid var(--bs-border-color);
    }
  }
}
