.table-row {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  display: flex;
  align-items: stretch;
}

.table-row cod-table-cell,
.table-row cod-table-cell-header {
  flex: 1;
}

.table-row cod-table-cell[colspan='2'],
.table-row cod-table-cell-header[colspan='2'] {
  flex: 2;
}

.table-row cod-table-cell[colspan='3'],
.table-row cod-table-cell-header[colspan='3'] {
  flex: 3;
}

.table-row cod-table-cell[colspan='4'],
.table-row cod-table-cell-header[colspan='4'] {
  flex: 4;
}

.table-row cod-table-cell[colspan='5'],
.table-row cod-table-cell-header[colspan='5'] {
  flex: 5;
}

.table-row.table-hover:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
}
