.table-cell {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom: solid var(--bs-border-width) var(--bs-secondary);
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  height: 100%;
}

.table-cell.table-striped,
.table-cell.table-striped-columns {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
}

.table-cell.table-legacy-responsive {
  width: 5em;
}
