:host {
  display: inline-block;
  min-width: 340px;
}

a.service-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px 50px;
  background-color: #004445;
  text-decoration: none;
  overflow: hidden;
  transition: background-color 200ms ease-in-out;

  // Ensure padding is included in width/height calculations.
  box-sizing: border-box;

  // Ensure the element takes full width/height when parent sets it.
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 250%;
      z-index: 0;
      background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="UTF-8"%3F%3E%3Csvg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 792 612"%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: url(%23linear-gradient-8); %7D .cls-2 %7B fill: url(%23linear-gradient-7); %7D .cls-3 %7B fill: url(%23linear-gradient-5); %7D .cls-4 %7B fill: url(%23linear-gradient-6); %7D .cls-5 %7B fill: url(%23linear-gradient-9); %7D .cls-6 %7B fill: url(%23linear-gradient-4); %7D .cls-7 %7B fill: url(%23linear-gradient-3); %7D .cls-8 %7B fill: url(%23linear-gradient-2); %7D .cls-9 %7B fill: url(%23linear-gradient); %7D .cls-10 %7B fill: url(%23linear-gradient-10); %7D .cls-11 %7B fill: url(%23linear-gradient-11); %7D .cls-12 %7B fill: url(%23linear-gradient-12); %7D .cls-13 %7B fill: url(%23linear-gradient-13); %7D .cls-14 %7B fill: url(%23linear-gradient-14); %7D %3C/style%3E%3ClinearGradient id="linear-gradient" x1="419.15" y1="327.09" x2="419.15" y2="58.4" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".97" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-2" x1="401.68" y1="311.96" x2="578.42" y2="108.65" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".98" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-3" x1="404.47" y1="341.6" x2="214.95" y2="152.08" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".96" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-4" x1="420.69" y1="323.13" x2="157.88" y2="276.79" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".96" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-5" x1="384.09" y1="339.82" x2="292.75" y2="88.86" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".98" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-6" x1="409.88" y1="309.04" x2="650.99" y2="186.19" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".97" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-7" x1="417.31" y1="311.24" x2="683.53" y2="264.3" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".96" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-8" x1="411.39" y1="325.69" x2="411.39" y2="594.16" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".97" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-9" x1="409.02" y1="318.25" x2="254.67" y2="538.68" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".95" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-10" x1="404.17" y1="347.91" x2="623.89" y2="501.76" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".97" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-11" x1="416.61" y1="337.58" x2="679.92" y2="384.01" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".96" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-12" x1="462.63" y1="314.17" x2="531.04" y2="569.49" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".93" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-13" x1="397.24" y1="298.99" x2="192.45" y2="470.82" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".95" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3ClinearGradient id="linear-gradient-14" x1="408.36" y1="297.8" x2="156.42" y2="389.5" gradientUnits="userSpaceOnUse"%3E%3Cstop offset="0" stop-color="%23fff"/%3E%3Cstop offset=".97" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath class="cls-9" d="M419.08,327.09l-42.56-266.13s54.63-5.38,85.27-.54l-42.71,266.67Z"/%3E%3Cpath class="cls-8" d="M419.08,327.09l123.03-240.32s46.24,26.34,67.2,50l-190.23,190.32Z"/%3E%3Cpath class="cls-7" d="M418.99,327.09l-189.78-189.25s-21.51,20.97-26.88,30.65l216.67,158.6Z"/%3E%3Cpath class="cls-6" d="M420.05,326.77l-250.09-90.27s-18.09,55.85-17.92,81.68l268.01,8.58Z"/%3E%3Cpath class="cls-3" d="M419.08,327.09l-158.69-218.28s9.68-14.52,37.1-20.97l121.59,239.25Z"/%3E%3Cpath class="cls-4" d="M419.08,327.09l217.65-157.53s18.28,18.82,23.12,36.02l-240.77,121.51Z"/%3E%3Cpath class="cls-2" d="M420.02,326.59l255.29-82.26s9.68,16.67,11.29,40.86l-266.58,41.4Z"/%3E%3Cpath class="cls-1" d="M419.64,325.69l34.38,267.31s-54.77,3.7-85.25-2.08l50.87-265.23Z"/%3E%3Cpath class="cls-5" d="M419.64,325.69l-130.35,236.43s-45.41-27.75-65.64-52.04l195.98-184.4Z"/%3E%3Cpath class="cls-10" d="M419.73,325.69l183.89,194.98s22.14-20.3,27.81-29.81l-211.7-165.18Z"/%3E%3Cpath class="cls-11" d="M418.66,325.98l247.2,97.9s19.79-55.27,20.41-81.09l-267.62-16.8Z"/%3E%3Cpath class="cls-12" d="M419.64,325.69l151.92,223.05s-10.12,14.21-37.72,19.82l-114.2-242.87Z"/%3E%3Cpath class="cls-13" d="M419.64,325.69l-222.38,150.77s-17.69-19.37-22-36.71l244.39-114.06Z"/%3E%3Cpath class="cls-14" d="M418.69,326.16l-257.69,74.39s-9.16-16.96-10.03-41.19l267.72-33.2Z"/%3E%3C/svg%3E');
      background-repeat: no-repeat;
      background-position: left;
      background-size: 200%;
    }
  }

  .title {
    position: relative;
    z-index: 1;
    font-size: 24px;
    font-weight: 700;
    color: #eaf0f0;
    background-color: #004445;
    margin-bottom: 8px;
  }

  .subtitle {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 400;
    color: #eaf0f0;
    background-color: #004445;
  }
}
