@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

:host {
  display: block;
  width: 100%;
}

.section-container {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  align-items: baseline;
}

.section-header {
  all: unset;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  cursor: default;
}

:host ::slotted([slot='header']) {
  padding-left: 0.5rem;
  border-left: 4px solid #ffc107;
}

.section-nav {
  flex-grow: 1;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

.toggle-button {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  svg {
    transition: transform 0.3s ease;
  }
}

.chevron-icon {
  display: none;
}

@include media-breakpoint-down(lg) {
  .section-container {
    flex-direction: column;
    margin-bottom: 0;
    border: 1px solid #dee2e6;

    &.expanded {
      .section-nav {
        display: block;
      }

      .toggle-button svg {
        transform: rotate(180deg);
      }
    }
  }

  .section-header {
    width: 100%;
    background-color: #ffc107;
    padding: 0.5rem 1rem;
    margin: 0;
    justify-content: space-between;
    border: none;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    appearance: none;
  }

  :host ::slotted([slot='header']) {
    padding-left: 0;
    border-left: none;
  }

  :host ::slotted([slot='nav-items']) {
    margin-bottom: 0.5rem;
  }

  .chevron-icon {
    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease;
    }
  }

  .section-container.expanded .chevron-icon svg {
    transform: rotate(180deg);
  }

  .section-nav {
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.5s ease-in-out,
      padding 0.5s ease-in-out;
    background-color: #fff;
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    box-sizing: border-box;

    ul {
      flex-direction: column;
      gap: 0;
    }
  }

  .section-container.expanded .section-nav {
    max-height: 500px;
    padding: 0.5rem 1rem;
  }
}
