@mixin th-td-stacked-block-styles {
  border-bottom-width: 0;
  display: block;
  width: 100%;
}

@mixin th-td-stacked-inline-styles {
  padding: 0;
  border-bottom-width: 0;
  display: flex;
}

@mixin cell-content-stacked-inline-styles {
  flex: 1 1 0px;
  padding: 0.5em 0.5em;
}

@mixin th-td-labeled-stacked-block-styles {
  padding-bottom: 0.5em;

  &:before {
    content: attr(data-label);
    display: block;
    font-weight: bold;
    background-color: #f2f2f2;
    margin: -0.45em -0.5em 0.45em;
    padding: 0.5em 0.5em 0.2em;
  }
}

@mixin th-td-labeled-stacked-inline-styles {
  &:before {
    content: attr(data-label);
    font-weight: bold;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    flex: 1 1 0px;
    padding: 0.5em 0.5em;
  }
}
