@mixin th-td-stacked-styles {
  border-bottom-width: 0;
  display: block;
  width: 100%;
}

@mixin th-td-labeled-stacked-styles {
  padding-bottom: 0.5em;

  &:before {
    content: attr(data-label);
    display: block;
    font-weight: bold;
    background-color: var(--bs-success);
    margin: -0.45em -0.5em 0.45em;
    padding: 0.5em 0.5em 0.2em;
  }
}
