@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';

thead {
  display: block;
}

@include media-breakpoint-down(lg) {
  thead.table-stacked {
    // Move table header off the screen to hide from
    // sited viewers but remain enabled for screen readers
    // and other AT.
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
