@import '../../../scss/detroitmi-bootstrap-base';
@import '../../../scss/detroitmi-utilities';

// Import Bootstrap button styles
@import 'bootstrap/scss/buttons';

// Override bootstrap _root.scss.
@import '../../../scss/host';
@import '../../../scss/detroitmi-style-guide';

:host {
  display: block;
}

.photo-btn {
  display: block;
  padding: 0;
  text-align: left;
  border: 0;
}

.button-img::slotted(img) {
  display: block;
  width: 100%;
}

.button-body {
  padding: var(--cod-btn-padding-y) var(--cod-btn-padding-x);
}
