.btn {
    font-family: var(--font-family);
    border-radius: 0;
}

.cod-button--xsmall.cod-button--fluid {
    font-size: .85em;
    padding: .25em;
}

.cod-button--small.cod-button--fluid {
    font-size: 1em;
    padding: .8em 1.1em;
}

.cod-button--medium.cod-button--fluid {
    font-size: 1.1em;
    padding: .75em 1.25em;
}

.cod-button--large.cod-button--fluid {
    font-size: 1.2em;
    padding: 1em 2em;
}

.btn.cod-button--square {
    font-size: 1.1em;
    height: 2.5em;
    width: 2.5em;
}

.btn-sm.cod-button--square {
    font-size: 1em;
    height: 2em;
    width: 2em;
}

.btn-lg.cod-button--square {
    font-size: 1.2em;
    height: 3em;
    width: 3em;
}

.cod-button--img {
    display: flex;
}

.cod-button--square.cod-button--img {
    padding: 1px 6px;
}

.cod-button--img img {
    height: 1em;
    margin-left: .5em;
    position: relative;
    top: 0.1em;
}

.cod-button--square.cod-button--img img {
    height: auto;
    max-width: 100%;
    margin: auto;
    top: 0;
}

cod-icon {
    position: relative;
    top: .1em;
    margin: 0 .5em;
}