@import '../../../scss/detroitmi-bootstrap-base';
@import '../../../scss/detroitmi-utilities';

// Import bootstrap card component
@import 'bootstrap/scss/card';

// Override bootstrap _root.scss.
@import '../../../scss/host';
@import '../../../scss/detroitmi-style-guide';

:host {
  display: block;
}

// Add styles that aren't already in Bootstrap

.card-body {
  display: block;
}

// Handle image slot display and sizing
.card-img {
  display: none;

  &::slotted(img) {
    display: block;
    width: 100%;
  }
}

// Hide slots by default until content is provided
.card-header,
.card-footer {
  display: none;
}
