// Override bootstrap ~5.3.0 variables with detroitmi styles.
// ----------------------------------------------------------------
// See more about override Bootstrap ~5.3.0 variables here:
// https://getbootstrap.com/docs/5.3/customize/sass
// https://github.com/twbs/bootstrap/blob/v5.3.2/scss/_variables.scss

$prefix: cod-;

// Define default display sizes
$display-font-sizes: (
  1: 2.75rem,
  2: 2.375rem,
  3: 1.875rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1rem,
);

// Override aspect ratios array to add more ratios.
$aspect-ratios: (
  '1x1': 100%,
  '2x1': calc(1 / 2 * 100%),
  '3x1': calc(1 / 3 * 100%),
  '4x1': calc(1 / 4 * 100%),
  '4x3': calc(3 / 4 * 100%),
  '16x9': calc(9 / 16 * 100%),
  '21x9': calc(9 / 21 * 100%),
);

// Override the default primary font family to Montserrat for sans serif.
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Montserrat', sans-serif;

// Override the default font size.
$font-size-root: null;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base;
$font-size-lg: $font-size-base * 1.25;

// Override the default headings font sizes.
$h1-font-size: map-get($display-font-sizes, 1);
$h2-font-size: map-get($display-font-sizes, 2);
$h3-font-size: map-get($display-font-sizes, 3);
$h4-font-size: map-get($display-font-sizes, 4);
$h5-font-size: map-get($display-font-sizes, 5);
$h6-font-size: map-get($display-font-sizes, 6);

// Disable rounded corners on all elements.
$enable-rounded: false;

// Establish variables for City of Detroit style guide.
$cod-city-green: #004445;
$cod-spirit-green: #279989;
$cod-pale-green: #9fd5b3;
$cod-accent-yellow: #feb70d;
$cod-near-black: #18252a;
$cod-light-grey: #f2f2f2;

// Set default colors for the theme.
$primary: $cod-city-green !default;
$secondary: $cod-light-grey !default;
$success: $cod-pale-green !default;
$info: $cod-city-green !default;
$warning: $cod-accent-yellow !default;
$danger: #b3393b !default;
$dark: $cod-near-black !default;
$light: #fff !default;

$focus-ring-width: 0.25rem;
$focus-ring-opacity: 1;
$focus-ring-color: blue;
