@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins/breakpoints';

@each $breakpoint-name, $_ in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint-name) {
    .navbar-expand-#{$breakpoint-name}.offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
}
